@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 7% 21%;
    --foreground: 220 13% 91%;

    --card: 223 7% 21%;
    --card-foreground: 220 13% 91%;

    --popover: 223 7% 21%;
    --popover-foreground: 220 13% 91%;

    --primary: 235 86% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 221 7% 24%;
    --secondary-foreground: 220 13% 91%;

    --muted: 221 7% 24%;
    --muted-foreground: 217 8% 59%;

    --accent: 221 7% 24%;
    --accent-foreground: 220 13% 91%;

    --destructive: 0 85% 61%;
    --destructive-foreground: 220 13% 91%;

    --border: 221 7% 24%;
    --input: 221 7% 24%;
    --ring: 235 86% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

